@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}


/* BUTTONS */
.btn-primary {
  padding: 12px 24px;
  background: black;
  color: white;
  border-radius: 12px;
  font-size: 14px;
  transition: 0.25s;
}
.btn-primary:hover {
  background: #222;
  transform: translateY(-2px);
}
.btn-primary:active {
  transform: scale(0.95);
}

.btn-secondary {
  padding: 10px 18px;
  background: #4f46e5;
  color: white;
  border-radius: 12px;
  font-size: 13px;
  transition: 0.25s;
}
.btn-secondary:hover {
  background: #4338ca;
  transform: translateY(-2px);
}
